<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="sizzle.js" ></script>
    <script src="BreezeEvent.js" ></script>
    <script src="EventDispatcher.js" ></script>
    <script src="Dictionary.js" ></script>
    <script src="HttpRequest.js" ></script>
    <script src="Breeze.js" ></script>
    <script src="DataGrid.js" ></script>
    <script src="BindData.js" ></script>
    <script src="DataRender.js" ></script>
    <script src="Template.js" ></script>
    <title></title>
</head>

<script>

    Breeze(function(){

       var datagrid = new DataGrid( Breeze('.container') );
        datagrid.columns({'name':'姓名','phone':'手机'});

        datagrid.component('name',{'bindable':true});

        var item = [{'name':'张三','phone':'15302662136'},{'name':'王五','phone':'15302662179'}];
        datagrid.dataProfile( item );


         var tpls="<div><ul><? for(var i=0; i< data.length; i++){ ?> <li forIndex='{i}'>{  data[i].name   }</li> <? } ?></ul></div>";
         var tpl = new Template()
             tpl.assign('data', [{'name':'yejun'},{'name':'999999'}] );

        var html =  tpl.render(tpls,true);

        console.log( html )

    })


</script>

<body>

<div>
    Hello word!
</div>

<div class="container">

</div>

</body>
</html>